:host {

  display: grid;
  grid-template-columns: 1fr 2fr;

  font-family: sans-serif;

  .form-field {
    display: block;
    box-sizing: border-box;
    padding: 20px;

    label {
      box-sizing: border-box;
      padding: 0 20px;
    }
  }

  th {
    padding:0 20px;
    box-sizing: border-box;
  }

  td {
    padding: 5px 10px;
    box-sizing: border-box;
  }

  button {
    padding:10px;
    margin:20px;
    box-sizing: border-box;
    cursor: pointer;
  }

}
